# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
*.env

# Build
client/dist
server/dist

# IDE/Editor junk
.vscode/
.DS_Store
